*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topbar{
    width: 100vw;
    height: 0px;
    background-color: black;
    position: fixed;
}
.btn{
    padding: 20px;
    position: absolute;
    top: 500px;
    left: 100px;
}